# mac file
.DS_Store
._*

# visual studio files
*.u2d
*.vfproj
*.vfproj*
*.vbproj
C1*.dll
C1*.xml
CEdit.application
CEdit.exe.manifest
CEdit.vshost.exe.manifest
CEdit.xml
pthread*.dll

# compiler output files
*.exe
*.o
*.mod
*.obj
*.pdb
*.exp
*.lib

# executables
cfast7_intel_*

# latex output files
*.aux
*.bak
*.bbl
*.blg
*.brf
*.err
*.lof
*.log
*.out
*.pdfsync
*.sav
*.synctex
*.toc

# cfast output files
*_n.csv
*_s.csv
*_f.csv
*_w.csv
*_zone.csv
*.out
*.smv
*.plt
*.status
*.log
*.sf
*_slice.info
*.iso

